
title: Martin Villegas Garcia
email: Dev.Mau.Villegas@gmail.com
logo: "/assets/images/mv-logo.png"
description: >- # this means to ignore newlines until "baseurl:"
  Game Programmer
github_username: DevMauVillegas
minimal_mistakes_skin: "neon"
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes

# Allow raw HTML when using CommonMark on GitHub Pages
commonmark:
  options:
    unsafe: true

# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

sass:
  style: expanded

include:
  - _pages
  - assets/css

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Martin Villegas Garcia"
  avatar : "/assets/images/bio-photo.jpg"
  bio    : "Game Programmer with more than 5 year of experience in the Gaming Industry; across different technologies and platforms."
  links:
    - label: "LinkedIn"
      icon: "fa-brands fa-linkedin"
      url: "https://www.linkedin.com/in/devmauvg/"

footer:
  links:
    - label: "LinkedIn"
      icon: "fab fa-linkedin"
      url: "https://www.linkedin.com/in/devmauvg/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
